.DS_Store
*.gem
*.rbc
.bundle
.config
.yardoc
.ruby-gemset
.ruby-version
Gemfile.lock
InstalledFiles
_yardoc
coverage
doc/
lib/bundler/man
pkg
pkg/*
rdoc
spec/support/vcr_cassettes
spec/support/vcr_cassettes/*